# On commence toujours par le nom de la workflow
name: "CI PHP"

# On définit les événements qui déclenchent la workflow
on:
  push:
    paths:
      - src/**
      - .github/workflows/ci.yml
      - assets/**

# On définit les jobs qui seront exécutés
jobs:
  hello:
    if: false # This job will not run
    runs-on: ubuntu-latest
    steps:
      - name: "Say Hello World"
        run: echo "Hello world!"

      - name: "List current folder"
        run: ls -la

      - name: "Create file"
        run: touch test-file

      - name: "List current folder after creating file"
        run: ls -la

  lint:
    name: "Lint tests"
    runs-on: ubuntu-latest
    steps:
      - run: env

  unit-tests:
    needs: ["hello"]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running unit tests"

  functional-tests:
    needs: ["hello"]
    runs-on: ubuntu-latest
    steps:
     - run: echo "Running functions tests"

  build:
    needs: ["unit-tests", "functional-tests"]
    runs-on: ubuntu-latest
    steps:
     - run: echo "Building the project"